/*
    Created on : 28.12.2017, 13:07:25
    Author     : Jerry
*/

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.game-canvas {
    width: 960px;
    height: 540px;
    background-image: url('../img/animation_pozadi3.jpg') ;
    background-size: cover;
    background-repeat: repeat-x;
    animation: animate_background 15s linear infinite;  /*nekonečná smyčka běžící animace*/
}
@keyframes animate_background {
    from{
        background-position: 960px 0px;
    }
    to{
        background-position: 100% 0px;
    }
}
