/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.12.2017, 13:07:25
    Author     : Jerry
*/

* {
margin:0;
padding:0;
box-sizing: border-box;}
#bodycko{
   background-image: url(pozadidrak.png);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
    background-position: right;
    /*min-height: 500px;*/
    
} 
#lista {  width: 100vw;
          height: 60px;
         box-shadow: black 10px 6px 20px;   
          float: left;
          position: fixed;
          background-image: url(Pozadi_stred.jpg);
          z-index: 1;
          background-size: cover;
           background-position: center;
           font-size: 20px;
           font-family: Garamond, Times, serif;
           font-weight: bold;   
}

#logo { margin-left: auto;
          margin-right: auto;
         padding-top: 120px; 
          width: 500px;
          height: auto; 
           background-repeat: no-repeat;
            background-position: center;
             
}
.menu{      margin-left: auto;
          margin-right: auto;
         position: static;   
          width: 1000px;
          height: auto; 
           background-repeat: no-repeat;
            background-position: center;

}
#obalHry {  background-image: url(Pozadi_stred.jpg);
           box-shadow: 0 -20px 20px -15px black;
          background-size: cover;
           background-position: center;
            width: 100vw;
            height: auto;
            position: relative;
            top: 120px;
            float: left;
            border: black thin ridge;
            
}
#stredni {  width: 50%;
            height: 1000px;
           margin-left: 25%;     
           margin-top: 20px;     
          position: relative;
          text-align: center;
          float: left;
          box-shadow: 0 5px 5px -5px #333;
}
#mujDrakAnimace { width: 640px;
                  height: 480px;
                   position: relative;
                 background-image: url(AnimationPozadi3.jpg) ;
                  border: black solid ;
                  background-size: cover;
                 float: left;
                  background-repeat: repeat-x; 
                  animation: animate 15s linear infinite;  /*nekonečná smyčka běžící animace*/
                  
}
@keyframes animate{ from{
                        background-position: 640px 0px;
                    }
                    to{
                         background-position: 100% 0px;
                    }
    
    
}
#platno{  margin-left: auto;
          margin-right: auto;
          width: 640px;
          height: 480px;  
}
#zapati {  width: 100vw;
          height: 60px;
          float: left;  
          color: white;
           font-size: 20px;
           font-family: Garamond, Times, serif;
           font-weight: bold;   
}
a.alista:link{  
                text-decoration: none;
                 color:white;
}
a.alista:hover{ color: #dbd8d8;       
}
.pismo{     font-size: 20px;
           font-family: Garamond, Times, serif;
           font-weight: bold; 
           color: white;
           margin-bottom: 40px;
           
}
.nadpisy{     font-size: 40px;
           font-family: Garamond, Times, serif;
           font-weight: bold; 
           color: white;
           margin-bottom: 10px;
           box-shadow: 0 5px 5px -5px #333;
}